.container {
    padding: 20px;
}

.area {
    display: flex;
}

.container img {
    margin-left: 350px;
    height: 230px;
    width: 270px;
}

.gapping {
    margin-bottom: 50px;
}

.font-bold {
    font-weight: bold;
}

.list-group-bottom {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.total-list {
    padding: 0.5rem 1rem;
}

.hr-css {
    width: 50%;
    margin: auto;
}

#alignment {
    text-align: center;
}